<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-3" for="make">Make:</label>
      <div class="col-sm-9">
        <input type="textbox" class="form-control" required id="make" [(ngModel)]="model.make" name="make" placeholder="Enter make">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3" for="modelNumber">Model:</label>
      <div class="col-sm-9">
        <input type="textbox" class="form-control" id="modelNumber"  required [(ngModel)]="model.modelNumber" name="modelNumber" placeholder="Enter Model">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="price">Price:</label>
      <div class="col-sm-9">
        <input type="textbox" class="form-control" id="price" required [(ngModel)]="model.price" name="price" placeholder="Enter Price">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="year">Year:</label>
      <div class="col-sm-9">
        <input type="textbox" class="form-control" id="year" required [(ngModel)]="model.year" name="year" placeholder="Enter Year">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="color">Color:</label>
      <div class="col-sm-9">
        <input type="textbox" class="form-control" id="color" required [(ngModel)]="model.color" name="color" placeholder="Enter Color">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="rating">Rating:</label>
      <div class="col-sm-9">
        <input type="textbox" class="form-control" id="rating" required [(ngModel)]="model.rating" name="rating" placeholder="Enter Rating">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-3" for="dealer">Dealer:</label>
      <div class="col-sm-9">
        <input type="textbox" class="form-control" id="dealer" required [(ngModel)]="model.dealer" name="dealer" placeholder="Enter Dealer">
      </div>
    </div>


    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-default" (click)="save()">Save</button>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>
